body {
  color: #222;
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
  /* border: 1px solid black; */
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}

div.post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 30px;
  /* border: 1px solid black; */
}

div.post h2.title {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

div.post p.meta-data {
  margin: 6px 0;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.meta-data a.author {
  color: #333;
}

div.post p.description {
  margin: 10px 0;
  line-height: 1.4rem;
}